.container {
    display: flex;
    flex-direction: column;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button {
        margin-top: 20px;
    }
}

.signupBtn {
    color: #0081c9;
}
